<!DOCTYPE html>
<html>
<head>
  <script src="scripts/jquery-1.12.1.min.js"></script>
  <script src="http://api.trello.com/1/client.js?key=20f275fe77202afb6c4a66039b78d4e4"></script>
  <script src="scripts/underscore-min.js"></script>
  <script src="scripts/backbone-min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/baseline.compress.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body class="page-grid">
  <main class="layout-grid"></main>

  <script type="text/template" id="indexTemplate">
    <section id="IndexView" class="width8">
      <h1>Your Boards</h1>
      <div id="boardsList">
        <% _.each(boards, function (board, i) { %>
          <h3 class="boardTitle"><a class="boardIndex" id="<%= board.id %>"><%= board.name %></a></h3>
          <article class="boardView" id="BoardView_<%= board.id %>"></article>
        <% }); %>
      </div>
    </section>
  </script>

  <script type="text/template" id="boardTemplate">
      <% _.each(lists, function (list, i) { %>
        <section class="column listView unitx2<% if (i === 0) { %> first<% } %>" id="ListView_<%= list.id %>" data-listid="<%= list.id %>">
          <h3><%= list.name %></h3>
          <span>...loading</span>
        </section>
      <% }); %>
  </script>

  <script type="text/template" id="listTemplate">
    <h3 class="listTitle"><%= name %></h3>
    <ul class="list">
      <% _.each(cards, function (card){ %>
        <div class="card">
          <a href="<%= card.url %>" target="_blank" class="cardLink_<%= card.id %>"><%= card.name %></a>
        </div>
      <% }); %>
    </ul>
  </script>

  <script src="scripts/app.js"></script>
</body>
</html>