h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h3 {
	font-size: 1.5em;
}

.boardContainer {
	display: block;
}

.boardTitle {
	display: inline-block;
	clear: both;
}
.toggleBoard {
	display: inline-block;
	color: #666;
	margin-left: 5px;
	cursor: pointer;
}

.boardIndex {
	color: black;
	text-decoration: none;
}
.boardHeader {
	display: block;
	margin-bottom: 10px;
}

.boardView {
	display: inline-block;
	clear: both;
	margin: 20px 0 0;
  background-color: #ccc;
  padding: 10px;
}

.listView {
    float: left;
    background-color: #eee;
}

.listTitle {
	padding: 10px;
}

.listView .list {
	margin: 0;
	padding: 0;
	display: block;
	border: red;
	
}

.list .card {
	display: block;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
}